@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

:root {
    --black: #000000;
    --white: #fff;
    --red: rgb(211, 12, 12);
    font-family: 'Outfit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--black);
    color: var(--white);
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 800ms ease-in;

    width: 5%;
    height: 100%;
    background-color: var(--black);
    padding: 40px 0 40px 1%;
    box-shadow: 2px 0 15px rgb(98, 0, 0);
}

@media (max-width:412px) {
    
    nav {
        width: 10%;
    }

    nav#clicked {
        width: 30%;
    }

}

nav:hover {
    width: 15%;
}

nav .header__img {
    width: 100%;
    margin-bottom: 25px;
    padding-left: 10px;
    display: flex;
}

nav .header__img > i{
    color: var(--white);
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li {
    transition: .2s;
}

ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

ul li:hover {
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(98, 0, 0);
    transition: .3s;
    background-color: rgb(98, 0, 0)
}

ul li a .icon {
    font-size: 24px;
    margin-left: 10px;
}

ul li a .txt-click {
    margin-left: 35px;
}

@media (max-width: 412px) {
    
    nav .header__img {
        margin-bottom: 100px;
        padding-left: 5px;
    }

    ul li a {
        padding: 25px 4%;
        font-size: 16px;
    }

    ul li a .icon {
        font-size: 16px;
        margin-left: 5px;
    }

}

section.landing__page {
    margin-left: 10%
}

section.landing__page .name__heading {
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
}

section.landing__page .name__heading > :last-child {
    font-style: italic;

}

img {
    display: none;
}