@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

:root {
    --black: #000000;
    --white: #fff;
    --red: rgb(211, 12, 12);
    --shadow-red: rgb(98, 0, 0);
    --shadow-pink: rgba(223, 43, 196, 0.624);
    font-family: 'Outfit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--black);
    color: var(--white);
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 800ms ease-in;
    z-index: 2;

    width: 5%;
    height: 100%;
    background-color: var(--black);
    padding: 40px 0 40px 1%;
    box-shadow: 2px 0 15px rgb(98, 0, 0);
}

@media (max-width:412px) {
    
    nav {
        width: 10%;
    }

    nav#clicked {
        width: 40%;
    }

}

nav:hover {
    width: 18%;
}

nav .header__img {
    width: 100%;
    margin-bottom: 25px;
    padding-left: 10px;
    display: flex;
}

nav .header__img > i{
    color: var(--white);
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li {
    transition: .2s;
}

ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

ul li:hover {
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(98, 0, 0);
    transition: .3s;
    background-color: rgb(98, 0, 0)
}

ul li a .icon {
    font-size: 24px;
    margin-left: 10px;
}

ul li a .txt-click {
    margin-left: 35px;
}

@media (max-width: 412px) {
    
    nav .header__img {
        margin: 50px 0;
        padding-left: 5px;
    }

    ul li a {
        padding: 25px 4%;
        font-size: 18px;
    }

    ul li a .txt-click {
        margin-left: 15px;
    }

    ul li a .icon {
        font-size: 18px;
        margin-left: 5px;
    }

}

section.landing__page {
    margin-left: 10%;
    
}

section.landing__page .name__heading {
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;

}

section.landing__page .name__heading > h1 {
    z-index: 1;
}

section.landing__page .name__heading > :last-child {
    margin-left: 2%;
    font-style: italic;
    text-shadow: 2px 0px 15px var(--shadow-red);
}

/*
.bar {
    margin: 10px 5%;
    height: 1px;
    background: var(--shadow-red);
    box-shadow: 4px 4px 15px var(--red);
}
*/

article {
    position: relative;
    display: flex;
    margin-top: 5%;
    padding: 0 10%;

    z-index: 1;
}

@keyframes gradient {
    0% {
        background: var(--shadow-pink);
        box-shadow: 4px 5px 50px rgb(245, 32, 160); 
        
    }

    50% {
		background: var(--shadow-red);
        box-shadow: 4px 5px 50px var(--red); 
	}

	100% {
		background: #fd5d00;
        box-shadow: 4px 5px 50px #fd5d00;
	}
}

section > .redCrossBar {
    position: absolute;
    z-index: 0;
    transform: rotate(-60deg);
    top: 20%;
    left: 60%;
    /**/
    animation: gradient 10s ease infinite;
    height: 2px;
    width: 600px;
    background: linear-gradient(-45deg, var(--shadow-red), var(--shadow-pink), #fd5d00);
    border-radius: 50%;
    box-shadow: 4px 5px 50px rgb(245, 32, 160); 
}

section > .redCrossBar.second {
    left: 30%;
}

section > .redCrossBar.third {
    left: 0%;
}

article > .presentation__info {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5% 0;

    z-index: 2;
}

article .presentation__info h1 {
    margin: 15px 0;
    color: var(--red);
    text-shadow: 4px 0 10px var(--red);
    font-style: italic;
}

article .presentation__info > label {
    font-style: italic;
    margin: 15px 0;
}

article > .presentation__info label, p {
    font-weight: 800;
}

article .presentation__info > input {
    cursor: pointer;
    max-width: 150px;
    margin-left: 20%;
    background: transparent;
    font-family: 'Outfit', sans-serif;
    transition: .5s ease-out;

    color:var(--red);
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid var(--shadow-red);
    box-shadow: 4px 0 10px var(--red);
}

article .presentation__info > input:hover {
    transition: .5s ease-in;
    background: var(--red);
    color: var(--white);
}

article > img {
    position: absolute;
    top: 0%;
    left: 47%;
    max-width: 500px;
    box-shadow: 4px 0 10px var(--shadow-red);
    border-radius: 50%;

    z-index: 1;
}

@media (max-width:412px) {

    section > .redCrossBar {
        right: 0%;
        top: 10%;
        width: 250px;
    }

    section > .redCrossBar.second {
        right: 20%
    }

    section > .redCrossBar.third {
        right: 40%;
    }

    section.landing__page .name__heading {
        margin-top: 50px;
        flex-direction: column;
        font-size: 22px;
    }

    article > .presentation__info {
        max-width: 70%;
    }

    article .presentation__info > p {
        font-size: 14px;
    }

    article .presentation__info > h1, label {
        font-size: 18px;
    } 

    article > img {
        top: 15%;
        left: 37%;
        max-height: 250px;
    }


}